<!doctype html>
<html class="no-js" lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- ========== VIEWPORT META ========== -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <!-- ========== PAGE TITLE ========== -->
        <title>SoftEase - Blog | Software, Mobile App & SaaS HTML template</title>

        <!-- ========== META TAGS ========== -->
        <meta name="description" content="HTML template for Software, Mobile App & SaaS applications.">
        <meta name="keywords" content="software, mobile app, saas">
        <meta name="author" content="ThemesEase">

        <!-- ========== FAVICON & APPLE ICONS ========== -->
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

        <!-- ========== MINIFIED VENDOR CSS ========== -->
        <link rel="stylesheet" href="styles/vendor.css">
        <link rel="stylesheet" href="styles/main.css">

        <!-- ========== MODERNIZR ========== -->
    	<script src="scripts/vendor/modernizr.js"></script>
    </head>

    <!-- ========== BODY ==========
    .light-header: for light colored header
    .dark-header: for dark colored header
    ==========  ========== -->
    <body class="dark-header animsition">

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=962700617116497";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <!-- ========== NAVIGATION ========== -->
    	<nav class="navbar yamm navbar-fixed-top" role="navigation">
    		<div class="container-fluid">
    			<div class="navbar-header">
    				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    					<span class="sr-only">Toggle navigation</span>
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    				</button> <!-- end navbar-toggle -->
    				<a class="navbar-brand" href="index.html">
    					<img src="images/light-logo.svg" alt="SoftEase Logo" class="light-logo">
    					<img src="images/dark-logo.svg" alt="SoftEase Logo" class="dark-logo">
    				</a> <!-- end navbar-brand -->
    			</div> <!-- end navbar-header -->

    			<div id="navbar" class="navbar-collapse collapse">
    				<ul class="nav navbar-nav pull-right">
    					<li class="active dropdown">
    						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <span class="caret"></span></a>
                            <ul class="dropdown-menu animated fadeIn">
    							<li>
                                    <div class="yamm-content">
                                        <div class="nav-col">
                                            <ul>
                                                <li><a href="index.html">Default Home</a></li>
                                                <li><a href="index-animated-bg.html">Animated Background</a></li>
                                                <li><a href="index-animated-text.html">Animated Text</a></li>
                                                <li><a href="index-simple.html">Animated + Image</a></li>
                                                <li><a href="index-slider.html">Home With Slider</a></li>
                                                <li><a href="index-boxed.html">Boxed Home</a></li>
                                            </ul>
                                        </div> <!-- end nav-col -->
                                    </div> <!-- end yamm-content -->
    							</li>
    						</ul> <!-- end dropdown-menu -->
    					</li>
    					<li class="dropdown">
    						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Features <b class="caret"></b></a>
    						<ul class="dropdown-menu animated fadeIn">
    							<li>
    							    <div class="yamm-content">
                                        <div class="nav-col">
                                            <ul>
                                                <li><h5>FEATURES</h5></li>
                                                <li><a href="#">Demo Link</a></li>
                                                <li><a href="#">Demo Link</a></li>
                                                <li><a href="#">Demo Link</a></li>
                                                <li><a href="#">Demo Link</a></li>
                                            </ul>
                                        </div> <!-- end nav-col -->
                                        <div class="nav-col">
                                            <ul>
                                                <li><h5>FEATURES</h5></li>
                                                <li><a href="#">Demo Link</a></li>
                                                <li><a href="#">Demo Link</a></li>
                                                <li><a href="#">Demo Link</a></li>
                                                <li><a href="#">Demo Link</a></li>
                                            </ul>
                                        </div> <!-- end nav-col -->
                                        <div class="nav-col dark-bg text-center">
                                            <h4>Take a demo for FREE!</h4>
                                            <p class="light-text">This is for demo purpose only. </p>
                                            <a href="sign-up.html" class="btn se-btn btn-rounded">SIGN UP</a>
                                        </div> <!-- end nav-col -->
                                    </div> <!-- end yamm-content -->
    							</li>
    						</ul> <!-- end dropdown-menu -->
    					</li> <!-- end dropdown (features) -->
    					<li class="">
    						<a href="feature-details.html" class="" >Feature Details </a>
    					</li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="about-us.html">About Us</a></li>
    					<li class="dropdown dd-left">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
                            <ul class="dropdown-menu animated fadeIn">
    							<li>
                                    <div class="yamm-content">
                                        <div class="nav-col">
                                            <ul>
                                                <li><a href="features.html">Features</a></li>
                                                <li><a href="feature-details.html">Feature Details</a></li>
                                                <li><a href="login.html">Login</a></li>
                                                <li><a href="sign-up.html">Sign Up</a></li>
                                                <li><a href="faqs.html">FAQs</a></li>
                                                <li><a href="contact-us.html">Contact Us</a></li>
                                                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                            </ul>
                                        </div> <!-- end nav-col -->
                                    </div> <!-- end yamm-content -->
    							</li>
    						</ul>
                        </li> <!-- end dropdown.dd-left (pages) -->

                        <li class="dropdown dd-left">
    						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog <b class="caret"></b></a>
    						<ul class="dropdown-menu animated fadeIn">
    							<li>
    							    <div class="yamm-content">
                                        <div class="nav-col">
                                            <ul>
                                                <li><h5>Default</h5></li>
                                                <li><a href="blog.html">Default Layout</a></li>
                                                <li><a href="blog-2.html">Layout 2</a></li>
                                                <li><a href="blog-left-sidebar.html">Left Sidebar</a></li>
                                                <li><a href="blog-2-left-sidebar.html">Left Sidebar 2</a></li>
                                            </ul>
                                        </div> <!-- end nav-col -->
                                        <div class="nav-col">
                                            <ul>
                                                <li><h5>Single Post</h5></li>
                                                <li><a href="blog-single-post.html">Default</a></li>
                                                <li><a href="blog-single-left-sidebar.html">Left Sidebar</a></li>
                                                <li><a href="blog-single-post-full.html">Full Width</a></li>
                                            </ul>
                                        </div> <!-- end nav-col -->
                                        <div class="nav-col dark-bg text-center">
                                            <h4>Stay Updated!</h4>
                                            <p class="light-text">Subscribe to our newsletter. </p>
                                            <a href="sign-up.html" class="btn se-btn btn-rounded">SUBSCRIBE</a>
                                        </div> <!-- end nav-col -->
                                    </div> <!-- end yamm-content -->
    							</li>
    						</ul> <!-- end dropdown-menu -->
    					</li> <!-- end dropdown (blog) -->
    					<li class="nav-btn-wrap">
                            <span class="nav-btn"><a href="sign-up.html" class="btn se-btn-black btn-rounded">Sign Up</a></span>
                        </li>
    				</ul> <!-- end navbar-nav -->

    			</div> <!--end nav-collapse -->
    		</div> <!-- end container -->
    	</nav>

        <!-- ========== PAGE TITLE ========== -->
        <header class="header page-title" >
            <div class="container">
                <!-- For centering the content vertically -->
                <div class="outer">
                    <div class="inner text-center">

                        <h1 class="">Blog</h1>
                        <h5 class="">Stay connected with latest information.</h5>
                        <a href="#" class="btn se-btn-black btn-rounded mt20">Subscribe Now</a>

                    </div> <!-- end inner -->
                </div> <!-- end outer -->
            </div> <!-- end container -->
        </header>

        <!-- ========== FEATURE DETAILS ========== -->
        <section class="se-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-9" id="posts">

                        <div class="entry">
                            <div class="entry-image">
                                <img src="images/blog-3-min.jpg" alt="Blog 1" class="img-responsive">
                            </div>
                            <div class="entry-title">
                                <h4 class="underline"><a href="#">How to create website quickly</a></h4>
                            </div>
                            <div class="entry-meta">
                                <p><small class="text-muted">01 Apr 2016 | <a href="#">12 Comments</a> | <a href="#">admin</a> | <a href="#">Technology</a></small></p>
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div> <!-- end entry -->

                        <div class="entry">
                            <div class="entry-image">
                                <img src="images/blog-1-min.jpg" alt="Blog 1" class="img-responsive">
                            </div>
                            <div class="entry-title">
                                <h4 class="underline"><a href="#">7 reasons why you should buy SoftEase!</a></h4>
                            </div>
                            <div class="entry-meta">
                                <p><small class="text-muted">01 Apr 2016 | <a href="#">12 Comments</a> | <a href="#">admin</a> | <a href="#">Technology</a></small></p>
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div> <!-- end entry -->

                        <div class="entry">
                            <div class="entry-image">
                                <img src="images/blog-4-min.jpg" alt="Blog 1" class="img-responsive">
                            </div>
                            <div class="entry-title">
                                <h4 class="underline"><a href="#">How to increase conversion rate by 300%?</a></h4>
                            </div>
                            <div class="entry-meta">
                                <p><small class="text-muted">01 Apr 2016 | <a href="#">12 Comments</a> | <a href="#">admin</a> | <a href="#">Technology</a></small></p>
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div> <!-- end entry -->

                        <div class="row">
                            <a href="#" class="btn se-btn-black btn-rounded">&larr; Older</a>
                            <a href="#" class="btn se-btn-black btn-rounded pull-right">Newer &rarr;</a>
                        </div>

                    </div> <!-- end col-md-9 -->

                    <div class="col-md-3">
                        <!-- ========== TWITTER FEEDS ========== -->
                        <a class="twitter-timeline" data-height="600" href="https://twitter.com/SaltTechno">Tweets by SaltTechno</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

                        <h5 class="underline mt30">Archives</h5>
                        <ul class="list-group mb60">
                            <li class="list-group-item"><a href="#">Apr 2016</a></li>
                            <li class="list-group-item"><a href="#">Mar 2016</a></li>
                            <li class="list-group-item"><a href="#">Feb 2016</a></li>
                            <li class="list-group-item"><a href="#">Jan 2016</a></li>
                            <li class="list-group-item"><a href="#">Dec 2015</a></li>
                            <li class="list-group-item"><a href="#">Nov 2015</a></li>
                            <li class="list-group-item"><a href="#">Oct 2015</a></li>
                        </ul>

                        <!-- ========== FACEBOOK FEEDS ========== -->
                        <div class="fb-page" data-href="https://www.facebook.com/ThemesEase" data-tabs="timeline" data-height="900" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ThemesEase" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ThemesEase">ThemesEase</a></blockquote></div>
                    </div> <!-- end col-md-3 -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== COUNTERS SECTION ========== -->
    	<section class="se-section counters-section gray-section">
    		<div class="container">
    			<div class="row">

                    <div class="col-md-3 col-sm-6 col-xs-6 counter-box">
    					<span class="count-icon ion-thumbsup"></span>
    					<div class="count-info">
    						<h4><span class="counter">1760</span>+</h4>
    						<p>projects completed.</p>
    					</div> <!-- end count-info -->
    				</div> <!-- end counter-box -->

    				<div class="col-md-3 col-sm-6 col-xs-6 counter-box">
    					<span class="count-icon ion-happy-outline"></span>
    					<div class="count-info">
    						<h4><span class="counter">11000</span>+</h4>
    						<p>customers handled.</p>
    					</div> <!-- end count-info -->
    				</div> <!-- end counter-box -->

    				<div class="col-md-3 col-sm-6 col-xs-6 counter-box">
    					<span class="count-icon ion-coffee"></span>
    					<div class="count-info">
    						<h4><span class="counter">2200</span>+</h4>
    						<p>cups of tea.</p>
    					</div> <!-- end count-info -->
    				</div> <!-- end counter-box -->

    				<div class="col-md-3 col-sm-6 col-xs-6 counter-box">
    					<span class="count-icon ion-ios-flame-outline"></span>
    					<div class="count-info">
    						<h4><span class="counter">128</span>+</h4>
    						<p>human resources.</p>
    					</div> <!-- end count-info -->
    				</div> <!-- end counter-box -->

    			</div> <!-- end row -->
    		</div> <!-- end container -->
    	</section>

        <!-- ========== CTA SECTION ========== -->
        <section class="se-section primary-bg">
            <div class="container">
                <div class="row text-center">
                    <h3>Create Your Account Now!</h3>
                    <p>Get 30 days trial. No credit card required.</p>
                    <a href="#" class="btn se-btn-black btn-rounded">SIGN UP</a>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== FOOTER ========== -->
        <footer class="light-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <img src="images/dark-logo.svg" alt="" class="footer-logo">
                    </div>

                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <h6 class="mtn">HOME</h6>
                        <ul>
                            <li><a href="#">Parallax Background</a></li>
                            <li><a href="#">Animated Background</a></li>
                            <li><a href="#">Solid Color</a></li>
                            <li><a href="#">Gradient Background</a></li>
                        </ul>
                    </div>

                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <h6 class="mtn">PAGES</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Our Team</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Features</a></li>
                        </ul>
                    </div>

                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <h6 class="mtn">OTHER</h6>
                        <ul>
                            <li><a href="#">Sign Up</a></li>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Service</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 col-sm-8 col-sm-offset-2 col-md-offset-0">
                        <h6 class="mtn">SUBSCRIBE</h6>
                        <div class="input-group">
                            <input type="email" class="form-control inp-rounded" placeholder="Enter your email id">
                            <span class="input-group-btn">
                                <button class="btn se-btn btn-rounded" type="button">Subscribe!</button>
                            </span> <!-- end input-group-btn -->
                        </div><!-- end input-group -->
                        <p class="text-center text-muted">We don't spam!</p>
                    </div>
                </div> <!-- end row -->

                <div class="row footer-bottom">
                    <div class="col-md-6">
                        <p>Copyright &copy; SoftEase Technologies. 2016. All Rights Reserved.</p>
                    </div>

                    <div class="col-md-6 text-right">
                        <h6><a href="#">FACEBOOK</a></h6>
                        <h6><a href="#">TWITTER</a></h6>
                        <h6><a href="#">LINKEDIN</a></h6>
                        <h6><a href="#">GOOGLE PLUS</a></h6>
                    </div>
                </div> <!-- end footer-bottom -->
            </div> <!-- end container -->
        </footer>

    	<script src="scripts/vendor.js"></script>

        <!-- ========== MINIFIED PLUGINS JS ========== -->
    	<script src="scripts/plugins.js"></script>

    	<script src="scripts/main.js"></script>
    </body>

</html>
